
<div ng-controller='PhotosController' ng-init="getPhotos()"> 
	
	<p>hello {{authFactory.currentUser}}</p>
	
	<button ng-click="showPostForm = !showPostForm">Add Post</button>

	<form ng-show="showPostForm"> 
		<input placeholder="Location" ng-model="location" class="form-control"/>
		<input placeholder="Activity" ng-model="activity" class="form-control"/>
		<textarea placeholder="Describe your experience" ng-model="description" class="form-control" rows="10"></textarea>
		
		<input type="submit" ng-model="files" ng-file-select="onFileSelect(files)" ng-multiple="true" value="Upload Photo">

		<button ng-click="addPhotos(location, activity, description)">Save Post</button>

	</form>

	<div ng-repeat="post in posts">
		{{post.location}} - {{post.activity}}
		<br/> 
		{{post.description}}
		<!-- {{photo.image}} -->
		<div ng-show="post.imagePaths" >	
			<img class="travel-photos" ng-src="{{post.imagePaths}}"/>	
		</div>
				<!-- <img class="travel-photos" ng-src="3e0b39c6-a257-4a23-a33b-f853bef90d69.JPG ">	 -->
	</div>

</div>
	




