
<!-- Do i need to add the controller or not? -->
<div ng-controller='PhotosController'> 
	
	hello {{chase}}
	
	<!-- toggles form for uploading images -->
	<button ng-click="showPostForm = !showPostForm">Add Post</button>

	<form ng-show="showPostForm" ng-submit="addPhoto()"> 
		
		<input placeholder="Location" ng-model="post.location" class="form-control" required/>
		
		<input placeholder="Activity" ng-model="post.activity" class="form-control" required/>
		
		<textarea placeholder="Describe your experience" ng-model="post.description" class="form-control" rows="10"></textarea>
		
		<!-- pulls up options to upload -->
		
		<input type="file" accept="image/*" multiple  image="images" resize-max-height="1000" resize-max-width="250" resize-quality="1" ng-model='post.imageData' required/ >
		
		<!-- Originals <img ng-repeat="img in images" ng-src="{{img.url}}" type="{{img.file.type}}" /> -->
			Resized <img ng-repeat="img in images" ng-src="{{img.resized.dataURL}}"/>
		
		<button type="submit">Save Post</button>
	</form>

</div>

<!-- repeats posted images -->
<!-- how do i get it to do a GET request automatically whenever it comes to this page?? -->
<div ng-repeat="photo in photos" ng-controller="PhotosController">
	{{post.author}} - {{post.location}}
	<br/> 
	{{post.activity}}
	<img ng-src="{{post.images[0]}}" class="post-image">
	<img ng-src="{{post.images[1]}}" class="post-image">
	<img ng-src="{{post.images[2]}}" class="post-image">
	<img ng-src="{{post.images[3]}}" class="post-image">
</div>




